body { background-color: white; font-family: letra; font-size: 14px font-weight: bold; font-style: italic; }
@font-face { font-family: letra; font-style: normal; font-weight: normal; src: url(letra.ttf); }
